page-smart-review {

  ion-content {
    background-color: #eaeaea !important;
  }
  .main-card {
    background-color: #faf9ea;
    padding: 10px;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(161,161,161,0.8);
    -moz-box-shadow: 3px 3px 15px -1px rgba(161,161,161,0.8);
    box-shadow: 3px 3px 15px -1px rgba(161,161,161,0.8);
    .col-6 {
      width: 50%;
      &.right {
        float: right;
      }
    }
    &.no-vertical-padding {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    &_title {

    }
    &_content {
      padding: 0px;
      ion-icon {
        font-size: 2em;
      }
      span {
        font-size: 10px;
      }
    }
  }
  .main-card_list-item {
    padding: 10px 0px ;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }
  }


}
