page-smart-review {
  .main-card {
    padding: 10px;
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    .col-6 {
      width: 50%;
      &.right {
        float: right;
      }
    }
    &_title {

    }
    &_content {
      padding: 0px;
      ion-icon {
        font-size: 2em;
      }
      span {
        font-size: 10px;
      }
    }
  }


}
